<%- include('../includes/head') %>

<div class="conteiner">
    <h1 class=" text-center text-light my-3">Login</h1>

    <form action="/login" method="post">
        <input type="text" class="form-control my-3" name="email" placeholder="email@gmail.com">
        <input type="password" class="form-control my-3" name="password" placeholder="********">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Entrar</button>
            <button class="btn btn-success" type="submit"><a href="/register">Crie um Conta</a></button>
        </div>
    </form>

</div>

<%- include('../includes/message') %>

<%- include('../includes/footer') %>